.contributor-cards-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  margin-bottom: 5rem;
}
.contributor-cards-container::-webkit-scrollbar {
  display: none;
}
.contributor-card {
  width: 25%;
  height: 550px;
  display: inline-block;
  vertical-align: top;
  margin: 1rem 2rem;
  font-family: zilla slab;
}
.contributor-title {
  color: #003a8c;
  font-size: 40px;
}

.contributor-name {
  font-size: 23px;
  color: #061178;
  white-space: normal;
}
.contributor-location {
  font-size: 14px;
  margin-top: -24px;
}
.contributor-quote {
  white-space: normal;
}

@media only screen and (max-width: 1000px) {
  .contributor-card {
    width: 40%;
    height: 550px;
  }
}

@media only screen and (max-width: 500px) {
  .contributor-cards-container {
    margin-bottom: 2rem;
  }

  .contributor-card {
    width: 60%;
    height: 520px;
    margin: 1rem 2rem;
  }
  .contributor-title {
    font-size: 30px;
  }

  .contributor-name {
    font-size: 19px;
  }
  .contributor-location {
    font-size: 12px;
    white-space: normal;
    margin-top: -20px;
  }
  .contributor-quote {
    font-size: 14px;
  }
  .contributor-scroll-text {
    font-size: 12px;
  }
}
