@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Zilla+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

body,
html {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: #f4f2f0;
  margin: 0;
  height: 100%;
}

button {
  outline: none;
  cursor: pointer;
}

a {
  color: blue;
}
a:hover {
  text-decoration: underline;
  color: blue;
}

.not-found-title {
  font-size: 70px;
  margin-top: 10rem;
  color: #000;
}
.not-found-text {
  font-size: 20px;
  padding: 1rem;
}
.not-found-button {
  background-color: #1a137c;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
}

.not-found-button:hover {
  font-weight: bold;
  cursor: pointer;
}

.spinner {
  margin: 5rem auto;
}

@media only screen and (max-width: 800px) {
  .not-found-title {
    font-size: 50px;
  }
  .not-found-text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .not-found-title {
    font-size: 7vw;
  }
  .not-found-text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .not-found-title {
    font-size: 8vw;
  }
  .not-found-text {
    font-size: 13px;
  }
}
