@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
body {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: #f4f2f0;
  margin: 0;
}

.not-found-title {
  font-size: 70px;
  margin-top: 10rem;
  color: #000;
}
.not-found-text {
  font-size: 20px;
  padding: 1rem;
}
.not-found-button {
  background-color: #1a137c;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
}

.not-found-button:hover {
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .not-found-title {
    font-size: 50px;
  }
  .not-found-text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .not-found-title {
    font-size: 7vw;
  }
  .not-found-text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .not-found-title {
    font-size: 8vw;
  }
  .not-found-text {
    font-size: 13px;
  }
}
