.video-delete-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%;
  margin: 3rem auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.video-delete-card {
  text-align: left;
  margin-bottom: 2rem;
  width: 30%;
  padding: 0.5rem 0 1rem 1rem;
  border: solid 1px rgb(179, 179, 179);
}

.video-card-delete-body {
  height: 8rem;
}

.video-delete-button {
  text-align: center;
  border: none;
  padding: 0.5rem 2rem;
  background: rgb(201, 13, 13);
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  .video-delete-div {
    width: 90%;
  }
  .video-delete-card {
    width: 48%;
  }
}

@media only screen and (max-width: 500px) {
  .video-delete-div {
    width: 95%;
  }
  .video-delete-card {
    width: 98%;
  }
}
