.nav-strip {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.2rem 2rem;
  border-bottom: solid 1px rgb(205, 205, 205);
}

.navbar-logo {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}
.main-nav-div {
  width: 45%;
}

.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}
.desktop-nav > div {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.desktop-nav > div:hover {
  color: #061178;
}

.nav-mobile-nav {
  display: none;
}
.drawer-items .MuiTypography-body1 {
  font-family: raleway;
  font-weight: 600;
  font-size: 15px;
}
.drawer-items .MuiListItemIcon-root {
  color: #000;
}

.nav-drop-menu {
  position: absolute;
  top: 85px;
  right: 380px;
  width: 250px;
  background-color: white;
  border-top: solid 3px #061178;
  z-index: 10;
}
.nav-drop-menu:hover {
  color: black;
}
.nav-drop-menu .MuiTypography-body1 {
  font-size: 15px;
  font-family: raleway;
}
.nav-drop-menu .MuiListItem-root:hover {
  color: #061178;
}

@media only screen and (max-width: 1500px) {
  .nav-mobile-nav {
    font-size: 30px;
    float: right;
    display: block;
    cursor: pointer;
  }
  .desktop-nav {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .nav-strip {
    padding: 0.2rem 0.7rem;
    height: 4.5rem;
  }
  .nav-mobile-nav {
    font-size: 20px;
  }
  .navbar-logo {
    width: 80px;
    height: 80px;
  }
}
