#nav-strip {
  background-color: #152256;
  color: #fff;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.2rem 2rem;
}

.main-nav-div {
  font-size: 16px;
  width: 30%;
  padding: 1rem;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.desktop-nav div {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.desktop-nav div span {
  padding: 10px 30px;
}

.desktop-dropdown-items {
  font-size: 16px;
}

.desktop-dropdown-items:hover {
  background-color: #152256;
  color: #fff;
}
.desktop-dropdown-items:active {
  background-color: #152256;
  color: #fff;
}

.desktop-nav span:hover {
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 50px;
  cursor: pointer;
}
.desktop-nav span:active {
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav {
  display: none;
}

.drawer-nav-links {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
}
.drawer-nav-links span {
  padding: 0.5rem 1rem;
  height: 55px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}
.drawer-nav-links span:hover {
  background-color: #fff;
  color: #152256;
}

@media only screen and (max-width: 1600px) {
  .mobile-nav {
    font-size: 30px;
    float: right;
    display: block;
    cursor: pointer;
  }
  .desktop-nav {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .drawer-nav-links {
    margin-top: 5rem;
    font-size: 17px;
  }
}

@media only screen and (max-width: 500px) {
  #nav-strip {
    padding: 0.2rem 0.7rem;
    height: 4.5rem;
  }
  .mobile-nav {
    font-size: 20px;
  }
  .drawer-nav-links {
    margin-top: 10px;
    font-size: 15px;
    padding-top: 3rem;
  }
  .drawer-nav-links span {
    padding: 1rem;
    height: 55px;
  }
}
