.notification-modal-blur {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.notification-modal {
  color: #000;
  width: 700px;
  padding: 40px 25px 10px 25px;
  border-radius: 50px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.notification-modal img {
  width: 200px;
  height: 200px;
  margin-bottom: 2rem;
}
.notification-modal-title {
  font-size: 25px;
  font-family: Saira Semi Condensed;
}
.notification-modal-text {
  font-size: 20px;
  font-family: Zilla Slab;
  font-weight: bold;
  width: 70%;
  margin: 0 auto;
}
.notification-modal-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60%;
  margin: 4rem auto 0 auto;
}
.notification-modal-button-container button {
  border: none;
  background-color: #152255;
  color: #fff;
  border-radius: 10px;
  padding: 8px;
  font-size: 13px;
  width: 130px;
}
.notification-modal-deny {
  font-family: Zilla Slab;
  font-weight: bold;
  font-size: 16px;
  margin-top: 2rem;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .notification-modal {
    color: #000;
    width: 600px;
  }
  .notification-modal img {
    width: 180px;
    height: 180px;
    margin-bottom: 1.5rem;
  }
  .notification-modal-title {
    font-size: 23px;
  }
  .notification-modal-text {
    font-size: 17px;
  }
  .notification-modal-button-container {
    margin: 2rem auto 0 auto;
    width: 60%;
  }
  .notification-modal-button-container button {
    width: 130px;
  }
  .notification-modal-deny {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .notification-modal {
    width: 350px;
    padding: 2rem 2rem 1rem 2rem;
  }
  .notification-modal img {
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
  }
  .notification-modal-title {
    font-size: 20px;
  }
  .notification-modal-text {
    font-size: 15px;
  }
  .notification-modal-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    margin: 2rem auto 0 auto;
    height: 100px;
  }
  .notification-modal-button-container button {
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 12px;
    width: 150px;
  }
  .notification-modal-deny {
    font-size: 11px;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .notification-modal {
    width: 250px;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 20px;
  }
  .notification-modal img {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
  .notification-modal-title {
    font-size: 16px;
  }
  .notification-modal-text {
    font-size: 11px;
  }
  .notification-modal-button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 45%;
    margin: 1rem auto 0 auto;
    height: 65px;
  }
  .notification-modal-button-container button {
    border-radius: 50px;
    padding: 5px 0px;
    font-size: 9px;
    width: 90px;
  }
  .notification-modal-deny {
    font-size: 8px;
    margin-top: 0.8rem;
  }
}
