.notification-modal-blur {
  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.notification-modal {
  color: #000;
  width: 900px;
  margin: 8rem auto 0 auto;
  padding: 3rem 4rem 1rem 4rem;
  border-radius: 50px;
  background-color: #fff;
}
.notification-modal img {
  width: 250px;
  height: 250px;
  margin-bottom: 2rem;
}
.notification-modal-title {
  font-size: 30px;
  font-family: Saira Semi Condensed;
}
.notification-modal-text {
  font-size: 25px;
  font-family: Zilla Slab;
  font-weight: bold;
}
.notification-modal-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 70%;
  margin: 4rem auto 0 auto;
}
.notification-modal-button-container button {
  border: none;
  background-color: #152255;
  color: #fff;
  border-radius: 10px;
  padding: 10px 40px;
  font-size: 18px;
  width: 200px;
}
.notification-modal-deny {
  font-family: Zilla Slab;
  font-weight: bold;
  font-size: 18px;
  margin-top: 2rem;
  text-decoration: underline;
}

.notification-modal-button-container button:hover {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}

@media only screen and (max-width: 1000px) {
  .notification-modal {
    width: 700px;
  }
  .notification-modal-button-container {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .notification-modal {
    width: 350px;
    padding: 2rem 2rem 1rem 2rem;
  }
  .notification-modal img {
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
  }
  .notification-modal-title {
    font-size: 20px;
  }
  .notification-modal-text {
    font-size: 15px;
  }
  .notification-modal-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    margin: 2rem auto 0 auto;
    height: 100px;
  }
  .notification-modal-button-container button {
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 12px;
    width: 150px;
  }
  .notification-modal-deny {
    font-size: 11px;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .notification-modal {
    width: 250px;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 20px;
  }
  .notification-modal img {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
  .notification-modal-title {
    font-size: 16px;
  }
  .notification-modal-text {
    font-size: 11px;
  }
  .notification-modal-button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 45%;
    margin: 1rem auto 0 auto;
    height: 65px;
  }
  .notification-modal-button-container button {
    border-radius: 50px;
    padding: 5px 0px;
    font-size: 9px;
    width: 90px;
  }
  .notification-modal-deny {
    font-size: 8px;
    margin-top: 0.8rem;
  }
}
