@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
.container {
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0 bottom 35%;
  background-image: url("https://res.cloudinary.com/dij0e4dwn/image/upload/v1595824464/ezgif.com-gif-maker_a6gych.jpg");
}

.ggg-text-container {
  position: absolute;
  top: 6rem;
  left: 30%;
}
.ggg-text {
  margin: auto;
  font-family: Rancho;
  font-size: 90px;
  font-weight: 1000;
  color: #000;
}

.provincial-message-container {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 0;
  font-size: 40px;
}

.provincial-message {
  color: #000;
  font-family: Rancho;
}

@media only screen and (max-width: 1000px) {
  .provincial-message-container {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    background-position: center;
  }
  #home-nav-bar {
    padding: 0.5rem 2rem;
  }
  .ggg-text-container {
    left: 2rem;
    top: 10rem;
    width: 25rem;
  }
  .ggg-text {
    font-size: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .provincial-message-container {
    width: 90%;
    font-size: 35px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    height: 80vh;
  }
  .ggg-text-container {
    top: 8rem;
    left: 1rem;
    width: 18rem;
  }
  .ggg-text {
    font-size: 40px;
  }
  .provincial-message-container {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .ggg-text {
    font-size: 35px;
  }
  .ggg-text-container {
    top: 7rem;
    left: 0.5rem;
    width: 15rem;
  }
  .provincial-message-container {
    font-size: 25px;
  }
}
