.video-post-form {
  position: fixed;
  width: 45%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border: 1px solid rgb(181, 174, 172);
}

.video-post-form-button {
  background-color: #541c1c;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  width: 30%;
}
.video-post-form-button:focus {
  outline: none;
}

.video-post-form-button:hover {
  font-weight: 1000;
}

@media only screen and (max-width: 1000px) {
  .video-post-form {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .video-post-form {
    width: 95%;
    padding: 1rem;
  }
}
