.home-card {
  width: 70%;
  margin: 200px auto;
  display: flex;
  justify-content: space-around;
}

.home-card-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-card-text p {
  font-size: 40px;
  color: #000;
  font-weight: bold;
}

.home-card-text button {
  font-size: 20px;
  background-color: #1a137c;
  color: #fff;
  padding: 15px 50px;
  border: none;
  border-radius: 50px;
}

.home-card-img-container {
  width: 50%;
}
.home-card-img {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
}
