.video-upload-form {
  position: fixed;
  width: 45%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border: 1px solid rgb(181, 174, 172);
}

.video-upload-form-button {
  background-color: rgb(173, 33, 2);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  width: 40%;
}

.video-upload-form-button:hover {
  font-weight: bold;
}

.video-post-form p {
  margin-top: -1rem;
}

.upload-input-div {
  display: flex;
}

.upload-input-button {
  background-color: rgb(173, 33, 2);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  width: 40%;
}

.upload-input-button:hover {
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .video-upload-form {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .upload-input-button {
    width: 40%;
  }
  .video-post-form {
    width: 95%;
    padding: 1rem;
  }
}
