.upload-input-div {
  display: flex;
}

.upload-input-button {
  background-color: #152256;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  width: 40%;
}

.upload-input-button:hover {
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .upload-input-button {
    width: 60%;
  }
}

@media only screen and (max-width: 400px) {
  .upload-input-button {
    font-size: 13px;
  }
}
