.followhim-hero-img {
  background-image: url("https://res.cloudinary.com/dij0e4dwn/image/upload/v1603001726/Follow%20Him%28Optimized%29/jj_crb31p_qdyxa4.jpg");
  height: 73vh;
  background-size: cover;
}

.followhim-section {
  margin: 3rem auto;
}
.followhim-section-text {
  width: 40%;
  margin: 0 auto;
}

.followhim-questions {
  font-family: raleway;
  font-size: 40px;
  font-weight: 700;
}
.followhim-content {
  font-family: Zilla Slab;
  font-size: 23px;
  line-height: 2.2rem;
  text-align: justify;
}

#carousel-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  margin: 5rem auto;
}
#carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-img {
  width: 700px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
  margin: 0 2rem;
  border-radius: 10px;
}
.carousel-scroll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}
.carousel-scroll {
  font-size: 18px;
  font-family: Zilla Slab;
  margin-top: -50px;
}
.carousel-arrow {
  width: 30px;
  height: 30px;
  margin-top: -50px;
  cursor: pointer;
}

.contact-barcode {
  width: 250px;
  height: 250px;
  display: block;
  border: solid 1px grey;
  margin: 2rem auto;
}

.followhim-slogan {
  font-size: 45px;
  font-family: raleway;
  text-transform: uppercase;
  font-weight: 600;
  margin: 7rem auto 0 auto;
  word-spacing: 1rem;
}

.ignatian-march {
  width: 50%;
  height: 500px;
  margin: 3rem auto 5rem auto;
}

@media only screen and (max-width: 1000px) {
  .followhim-section-text {
    width: 80%;
  }
  .carousel-img {
    width: 800px;
    height: 500px;
    margin-left: 1rem;
    margin-right: 2rem;
  }
  .followhim-slogan {
    font-size: 60px;
  }
  .ignatian-march {
    width: 80%;
    height: 500px;
  }
  .carousel-scroll-container {
    display: block;
    width: 100%;
  }
  .carousel-arrow {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .followhim-hero-img {
    height: 70vh;
  }
  .followhim-section-text {
    width: 90%;
  }
  .followhim-questions {
    font-size: 30px;
  }
  .followhim-content {
    font-size: 18px;
  }
  #carousel-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .carousel-img {
    width: 400px;
    height: 280px;
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
  .carousel-scroll {
    font-size: 15px;
    margin-top: 0px;
  }
  .contact-barcode {
    width: 200px;
    height: 200px;
    margin: 2rem auto;
  }
  .followhim-slogan {
    font-size: 25px;
    margin: 4rem auto 1rem auto;
    word-spacing: 0.2rem;
  }
  .ignatian-march {
    width: 100%;
    height: 350px;
    margin: 0 auto 5rem auto;
  }
}

@media only screen and (max-width: 400px) {
  .followhim-hero-img {
    height: 60vh;
  }
  .followhim-section-text {
    width: 90%;
  }
  .followhim-questions {
    font-size: 30px;
  }
  .followhim-content {
    font-size: 18px;
  }

  .carousel-img {
    width: 350px;
    height: 260px;
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
  .carousel-scroll {
    font-size: 13px;
    margin-top: 0px;
  }
  .contact-barcode {
    width: 150px;
    height: 150px;
  }
  .followhim-slogan {
    font-size: 27px;
    margin: 4rem auto;
    word-spacing: 0.2rem;
  }
}
