.validate-video-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.validate-video-card-div {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem auto;
  width: 30%;
}
@media only screen and (max-width: 1000px) {
  .validate-video-card-div {
    width: 45%;
  }
}
@media only screen and (max-width: 1000px) {
  .validate-video-card-div {
    width: 80%;
    margin: 0.5rem auto;
  }
}
