.blog-container {
  width: 60%;
  margin: 3rem auto;
  text-align: left;
}
.blog-title {
  font-family: Staatliches;
  letter-spacing: 1px;
  font-size: 40px;
  color: blue;
}
.blog-author {
  font-family: Lobster Two;
  font-weight: bold;
  font-size: 20px;
  color: #000;
}
.blog-img {
  position: relative;
  margin: 1rem 0;
  height: 600px;
  background-size: cover;
}
.blog-content {
  text-align: justify;
  font-family: Zilla Slab;
  margin-top: 3rem;
  font-size: 20px;
  color: #000;
}
.blogs-share-container {
  margin-top: -20px;
}

@media only screen and (max-width: 1000px) {
  .blog-container {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .blog-container {
    width: 100%;
  }
  .blog-img {
    height: 300px;
  }
  .blog-content {
    font-size: 18px;
    width: 95%;
    margin: 0 auto;
  }
  .blog-title {
    font-size: 30px;
    margin-left: 10px;
  }
  .blog-author {
    font-size: 18px;
    padding-left: 10px;
  }
}
