.video-post-form {
  width: 45%;
  margin: 0 auto;
}

.video-post-form h2 {
  font-size: 30px;
  margin-bottom: 2rem;
  color: #003a8c;
}

.video-post-form label {
  font-size: 15px;
  float: left;
}

@media only screen and (max-width: 1000px) {
  .video-post-form {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .video-post-form {
    width: 95%;
  }
  .video-post-form-button {
    width: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .video-post-form label {
    font-size: 13px;
  }
}
