#home-nav-bar {
  position: absolute;
  height: 6rem;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.2);
  padding: 0.2rem 2rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  margin-top: 10px;
  width: 120px;
  height: 120px;
}

.home-drawer-nav-links {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}
.home-drawer-nav-links span {
  padding: 0.5rem 1rem;
  height: 55px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}
.home-drawer-nav-links span:hover {
  background-color: #fff;
  color: #000;
}
.drawer-drop-content {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

@media only screen and (max-width: 1000px) {
  .home-drawer-nav-links {
    margin-top: 5rem;
    font-size: 17px;
  }
}

@media only screen and (max-width: 800px) {
  #home-nav-bar {
    padding: 0.5rem 2rem;
  }
}

@media only screen and (max-width: 500px) {
  #home-nav-bar {
    padding: 0.5rem 0rem;
    height: 4.5rem;
  }
  .navbar-logo {
    width: 80px;
    height: 80px;
  }
  .mobile-nav {
    font-size: 20px;
  }
  .home-drawer-nav-links {
    margin-top: 10px;
    font-size: 15px;
    padding-top: 3rem;
  }
  .home-drawer-nav-links span {
    padding: 1rem;
    height: 55px;
  }
}
