.blog-cards-container {
  width: 75%;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blog-card {
  position: relative;
  height: 550px;
  margin-bottom: 4rem;
  width: 48%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
}

.blog-card-img {
  height: 300px;
  width: 100%;
}

.blog-card-text {
  width: 95%;
  margin: 1rem auto;
  text-align: left;
}

.blog-card-lower-text {
  position: absolute;
  bottom: 15px;
}

.blog-card-title {
  line-height: 33px;
  letter-spacing: 0.5px;
  font-family: Saira Semi Condensed;
  font-size: 23px;
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
}

.blog-card-author {
  font-size: 16px;
}
.blog-card-time {
  margin-top: -12px;
  text-align: left;
}

.blog-card-button {
  background-color: rgb(21, 34, 85);
  border: solid 2px rgb(21, 34, 85);
  color: #fff;
  border-radius: 50px;
  font-size: 13px;
  padding: 3px 20px;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0px 10px 20px rgb(21, 34, 85, 0.6);
  box-shadow: 0px 10px 20px rgb(21, 34, 85, 0.6);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blog-card-button:hover {
  background-color: rgb(21, 34, 150);
  border: solid 2px rgb(21, 34, 150);
  -webkit-box-shadow: 0px 15px 20px rgba(21, 34, 150, 0.5);
  box-shadow: 0px 15px 20px rgba(21, 34, 150, 0.5);
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}
.blog-card-button:active {
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .blog-cards-container {
    width: 95%;
  }
  .blog-card {
    height: 530px;
    width: 48%;
  }
  .blog-card-img {
    height: 280px;
  }
}

@media only screen and (max-width: 700px) {
  .blog-cards-container {
    width: 80%;
  }
  .blog-card {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .blog-cards-container {
    width: 95%;
  }
  .blog-card {
    height: auto;
  }

  .blog-card-img {
    height: 250px;
  }
  .blog-card-title {
    font-size: 18px;
  }
  .blog-card-author {
    font-size: 15px;
  }
  .blog-card-time {
    font-size: 12px;
  }
  .blog-card-lower-text {
    margin-bottom: 10px;
    float: left;
    position: static;
  }
  .blog-card-button {
    font-size: 12px;
  }
}
