.blog-cards-container {
  width: 75%;
  margin: 0 auto 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blog-card {
  position: relative;
  height: 600px;
  margin-bottom: 4rem;
  width: 48%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
}

.blog-card-img {
  height: 350px;
  width: 100%;
}

.blog-card-text {
  width: 95%;
  margin: 1rem auto;
  text-align: left;
}

.blog-card-lower-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 15px;
  font-size: 16px;
  font-family: zilla slab;
  height: 75px;
}

.blog-card-title {
  line-height: 35px;
  font-size: 20px;
  text-transform: capitalize;
}

.search-bar-container {
  width: 80%;
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search-bar {
  margin-right: 1rem;
  width: 50%;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  -webkit-box-shadow: 0px 1px 5px rgba(138, 138, 138, 0.5);
  box-shadow: 0px 1px 5px rgba(138, 138, 138, 0.5);
  border-radius: 5px;
  outline: none;
}

.search-category {
  width: 165px;
  padding: 9px 16px;
  font-size: 1em;
  font-family: raleway;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 5px rgba(138, 138, 138, 0.5);
  box-shadow: 0px 1px 5px rgba(138, 138, 138, 0.5);
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  outline: none;
}
.search-category-dropdown {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #fff;
  font-size: 1em;
  position: absolute;
  z-index: 1;
  width: 163px;
  height: 120px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 20px rgb(21, 34, 85, 0.6);
  box-shadow: 0px 10px 20px rgb(21, 34, 85, 0.6);
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border-radius: 5px;
}
.search-category-dropdown span {
  padding: 3px 0;
}
.search-category-dropdown span:hover {
  background-color: #f5f5f5;
}
.no-search-found {
  margin-top: 8rem;
  color: #000;
  font-size: 2.5vw;
}

@media only screen and (max-width: 1000px) {
  .blog-cards-container {
    width: 95%;
  }
  .blog-card {
    height: 530px;
    width: 48%;
    margin-bottom: 2rem;
  }
  .blog-card-img {
    height: 280px;
  }

  .search-bar-container {
    width: 90%;
    margin: 2rem auto;
  }
  .search-bar {
    width: 60%;
    padding: 0.6rem 1rem;
    font-size: 17px;
  }
  .search-category {
    width: 165px;
    padding: 0.55rem 1.8rem;
    font-size: 17px;
  }
  .search-category-dropdown {
    font-size: 17px;
    width: 165px;
    height: 115px;
  }
  .no-search-found {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 700px) {
  .blog-cards-container {
    width: 80%;
  }
  .blog-card {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .blog-cards-container {
    width: 95%;
  }
  .blog-card {
    height: auto;
  }

  .blog-card-img {
    height: 250px;
  }
  .blog-card-title {
    font-size: 16px;
    line-height: 28px;
  }

  .blog-card-lower-text {
    margin: 20px auto;
    position: static;
    height: 60px;
    font-size: 12px;
  }
  .search-bar-container {
    width: 90%;
  }
  .search-bar {
    width: 60%;
    padding: 0.5rem 0.6rem;
    font-size: 13px;
  }
  .search-category {
    width: 120px;
    padding: 0.45rem 0.6rem;
    font-size: 13px;
  }
  .search-category-dropdown {
    font-size: 13px;
    width: 120px;
    height: 130px;
    padding: 5px 0;
  }
  .no-search-found {
    font-size: 7vw;
  }
}
