@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
.container {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 80vh;
  background-image: url("https://res.cloudinary.com/dij0e4dwn/image/upload/v1596377635/ezgif.com-gif-maker_px37mm.jpg");
}

.provincial-message-container {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 0;
  font-size: 40px;
}

.provincial-message {
  color: #000;
  font-family: Rancho;
}

@media only screen and (max-width: 1000px) {
  .container {
    height: 700px;
  }
  .provincial-message-container {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    background-position: center left 20%;
  }
  #home-nav-bar {
    padding: 0.5rem 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .provincial-message-container {
    width: 90%;
    font-size: 35px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    background-position: top left;
    height: 380px;
  }
  .provincial-message-container {
    font-size: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .provincial-message-container {
    font-size: 25px;
  }
}
