#nav-strip {
  background-color: #152256;
  color: #fff;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
}

.main-nav-div {
  font-size: 16px;
  width: 30%;
  padding: 1rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.desktop-nav div {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktop-nav div span {
  padding: 10px 30px;
}

.desktop-dropdown-items {
  font-size: 16px;
}

.desktop-dropdown-items:hover {
  background-color: #152256;
  color: #fff;
}

.desktop-nav span:hover {
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav {
  display: none;
}

.drawer-nav-links {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}
.drawer-nav-links span {
  padding: 0.5rem 1rem;
  height: 55px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}
.drawer-nav-links span:hover {
  background-color: #fff;
  color: #152256;
}

@media only screen and (max-width: 1600px) {
  .mobile-nav {
    font-size: 30px;
    float: right;
    display: block;
    cursor: pointer;
  }
  .desktop-nav {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #nav-strip {
    padding: 0.2rem 0.7rem;
    height: 4.5rem;
  }
  .drawer-nav-links {
    padding-top: 3rem;
  }
  .mobile-nav {
    font-size: 23px;
  }
}
